.cache
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
*.tgz
*.tsbuildinfo
dist
node_modules
out

.expedito
.agents/skills/expedito

# Disabling for now

.agents/skills/tanstack-start
.agents/skills/vercel-*

.docs

.claude/skills

scripts/*
