.expo
.nitro
.output
.vercel
*.lock
CHANGELOG.md
**/changelog.generated.ts
**/src/generated/**
**/routeTree.gen.ts
build
bun.lock
coverage
dist
node_modules
playwright-report
prisma/migrations
test-results
