{
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsonRecursiveSort": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ],
    "plugins": ["prettier-plugin-sort-json"],
    "printWidth": 100,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all"
}
